.box {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

a {
    outline: none;
    text-decoration: none;
}
  
a:link {
    color: #fff;
}
  
a:visited {
    color: #fff;
}
  
.tamanyo_h1 {
    font-size: 3.2vw;
    color: #fff;
}

.tamanyo_2 {
    font-size: 3vw;
    color: #fff;
}

#tamanyo_h1_cafeteria {
    color: #000;
}

.header {
    width: 100%;
    position: absolute;
    z-index: 2;
}

.header_1 {
    background-color: #43241a;
    width: 100%;
    height: 2.2vw;
}

.header_candado {
    height: 1.8vw;
    width: 2vw;
    float: right;
    margin-right: 3.5vw;
    margin-top: 0.2vw;
    cursor: pointer;
}

.header_2 {
    width: auto;
    height: 12vw;
    display: flex;
    align-items: center;
}

.logotipo { 
    width: 14vw;
    height: auto;
    padding-left: 4.5vw;
}

#menu {
    font-size: 1.15vw;
    padding-left: 9vw;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 5vw;
}

#user_cart {
    position: absolute;
    right: 0;
    padding-right: 3.9vw;
    margin: 0;
    top: 50%;
}

#user_cart ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#user_cart ul li {
    display: inline-block;
}

#user_cart ul li a {
    color: black;
    text-decoration: none;
}

.usuario{
    width: 1.4vw;
    padding-right: 1.2vw;
}

.carrito{
    width: 1.4vw;
}

.cursiva {
    font-weight: 300;
}

.contenedor_banner_principal {
    position: relative;
}

.texto_banner_principal {
    position: absolute;
    z-index: 1;
    top: 32%;
    right: 0;
    text-align: right;
    padding-right: 3.9vw;
}

.banner {
    width: 100%;
    display: block;
}

.banner_tea {
    position: relative;
    overflow: hidden;
}

.info_banner_tea {
    position: absolute;
    z-index: 1; 
    left: 5%;
    top: 12%;
}

.boton_bad_coffee {
    font-family: 'Inter', sans-serif;
    background-color: #43241a;
    color: #fff;
    border: #43241a;
    float: right;
    padding: 1.2vw;
    font-size: 1.1vw;
    width: 15vw;
}

.boton_tea {
    font-family: 'Inter', sans-serif;
    background-color: #43241a;
    color: #fff;
    border: #43241a;
    float: right;
    padding: 1.2vw;
    font-size:  1.1vw;
    width: 10vw;
}

.cuadrados_body {
    display: grid;
    padding: 3.33vw;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    column-gap: 3.33vw;
    grid-row-gap: 3.3vw;
    color: #000;
}

.imagen_grid {
    width: 100%;
}

.grid_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_grid_body {
    position: absolute;
    color: #fff;
    font-size: 2.8vw;
    text-align: center;
}

.texto_grid_body_2 {
    font-weight: 300;
    font-size: 1.5vw;
    color: #fff;
}

#banner_coffee_of_the_month {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    top: 22%;
}

.flex_coffee_month {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teclas {
    padding-right: 1.3vw;
    width: 12vw;
    height: 5.3vw;
}

.boton_coffee_month {
    font-family: 'Inter', sans-serif;
    background-color: #43241a;
    color: #fff;
    border: #43241a;
    padding: 1.2vw;
    font-size: 1.1vw;
    width: 10vw;
}

.texto_coffee_month {
    color: #fff;
    font-weight: 300;
    font-size: 1.5vw;
    padding-bottom: 1vw;
}

.sello_coffee {
    position: absolute;
    width: 10%;
    top: 5%;
    right: 0;
    padding-right: 4vw;
}

.cafeteria_ubicacion {
    display: flex;
}

.direccion_cafeteria {
    width: 70%;
}

.cafeteria {
    display: block;
    width: 45%;
}

.granos_cafe {
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ubi_cafeteria {
    width: 3vw;
    height: 3vw;
    margin-top: 2.3vw;
    padding-right: 0.7vw;
}

.titulo_cafeteria {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 3vw;
}

.texto_cafeteria {
    text-align: justify;
    margin-left: 18%;
    margin-right: 17%;
    font-size: 1.2vw;
    margin-top: -10px;
    padding-bottom: 1.5vw;
}

.footer {
    background-color: #43241a;
    padding: 2vw;
    color: #fff;
}

.contenedor_footer { 
    display: flex;
    font-size: 1vw;
}

.about {
    padding-left: 10vw;
}

.site_terms {
    padding-left: 4.9vw;
}

.customer_care {
    padding-left: 4.9vw;
}

.otra_columna {
    padding-left: 4.9vw;
}

.copyright {
    text-align: center;
    font-size: 1vw;
    padding-top: 30px;
}

.logotipo_footer {
    width: 13vw;
    margin-bottom: 1vw;
}

.icono_f {
    width: 2.5vw;
    margin-right: 0.2vw;

}

.icono_f:hover {
    transform: scale(1.25);
}

#icono_tarjeta {
    height: 1.9vw;
}

.newsletter {
    display: flex;
    padding-bottom: 1vw;
}

.boton_newsletter {
    display: block;
    font-family: 'Inter', sans-serif;
    background-color: #dfddb6;
    border: 0;
    padding: 0.6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: #43241a;
    font-size: 1vw;
}

.email_newsletter {
    border: 0;
    padding: 0.85vw;
    width: 24vw;
}

.checkbox_newsletter {
    margin-left: 0;
    padding-bottom: 2vw;
}

@media (max-width: 780px) {
    #menu {
    font-size: 2vw;
    }

    #user_cart {
        padding-right: 3.9vw;
        margin: 0;
        top: 45%;
    }

    .usuario{
        width: 2vw;
    }
    
    .carrito{
        width: 2vw;
    }

    .header_candado {
        height: 2vw;
        width: 2.2vw;
    }
}


#boton_scroll {
    display: none; 
    position: fixed; 
    bottom: 0; 
    right: 1.5vw; 
    z-index: 99;
    cursor: pointer;
    background-color: red;
    border-radius: 100%;
    padding: 0.8vw;
    margin-bottom: 2vw;
}
  
#boton_scroll:hover {
    background-color: red; 
}

.contenedor_correo {
    position: relative;
    margin: 2.5vw auto;
    width: 20vw;
    font-size: 0.9vw;
    font-family: 'Inter', sans-serif;
}

.contenedor_correo input[type="text"] {
    font-size: 0.9vw;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0.4vw 0vw;
    outline: none;
}
  
.contenedor_correo .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    transition: all 0.3s ease;
}
  
.contenedor_correo input[type="text"]:focus ~ .label,
.contenedor_correo input[type="text"]:valid ~ .label {
    top: -1.5vw;
    font-size: 0.9vw;
    color: #43241a;
}

.h1_black {
    font-size: 2.5vw;
}

  
.contenedor_correo .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;
}
  
.contenedor_correo input[type="text"]:focus ~ .underline,
.contenedor_correo input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
}

.boton_zona_privada {
    width: 20vw;
    font-family: 'Inter', sans-serif;
    background-color: #43241a;
    color: #fff;
    border: #43241a;
    padding: 1.2vw;
    font-size: 1.1vw;
    cursor: pointer;
}

.candado_zona_privada {
    width: 8vw;
    display: block;
    margin: 0 auto;
    padding-bottom: 1vw;
}

.x_zona_privada {
    position: absolute;
    right: 0;
    top: 0;
    width: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    cursor: pointer;
}

.overlay {
	background-color: rgba(1, 1, 1, 0);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 3;
	backdrop-filter: blur(7px);
    opacity: 0;
	transition: background-color 0.9s ease;
}

.overlay.active {
	visibility: visible;
    opacity: 1; 
    background-color: rgba(1, 1, 1, 0.5);
}

.popup.active {	
    transform: scale(1); 
    opacity: 1; 
}

.popup {
	background: #fff;
	padding: 4vw;
	text-align: center;
	opacity: 1;
    top: 18vw;
}

.x_zona_privada {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1vw;
    width: 1vw;
    cursor: pointer;
    padding-right: 1vw;
}