.box{
font-family: 'Courier New', Courier, monospace;
}
.header_1{
    background-color: burlywood;
    width:auto;
    height:50px;
}
.header_candado{
margin-top: 10px;
height: 30px;
width:33px;
float: right;
padding-right: 50px;
}
.header_2{
    background-color:bisque;
width: auto;
height: 200px;

}
.logotipo{
width:225px;
height: auto;
padding-left: 50px;
padding-top:30px;
}